/*
	Syntax of using CSS rules:
	
	selector{
		property: value;
	}
*/

/*Universal Selector*/
/**{*/
/*It targets all the elements in our webpage.*/
*{
/* font-family property changes the style of the font	*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*Type selector*/
/*tag-name*/
h1{
	color:yellow;
}

/*ID selector*/
/*#id*/
/*it targets only one element*/
#zuitt-motto{
/*the letter spacing property changes the spaces between the characters in a text*/
	letter-spacing: 5px;
}

/*Class selector*/
/*.class-name*/
.offering-item{
/*text-transform property changes the font to a certain case*/
/*uppercase value changes the text to all capitalized letter*/
	text-transform: uppercase;
}

/*Attribute selector*/
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*!important overrides priority*/
	/*h3{
		letter-spacing: 25px !important;
	}*/

/*Adjacent sibling selector*/
/*element-for-reference + target-element*/
#zuitt-motto + img {
/* height property changes the vertical dimensions of an element */
	height: 300px;
/* width property changes the horizontal dimensions of an element */
	width: 300px;
/**/
	border-radius: 150px;
}

/*Descendant selector*/
/*element-for-reference target-element*/
#bootcamp-learning-list li{
	color: #128043;
}

/*General Sibling Selector*/
/*fomer_element ~ target_element*/
h2~a{
/*text-decoration property changes lines included in text (example: overline, underline, and strike-through*/
/*none value will remove the underline from our anchor tag*/
	text-decoration: none;
}

/*Child Selector*/
/*parent_element > target_element*/
form > label{
	color: rgb(155, 52, 235);
}

body{
	background-color: skyblue;
}

section{
/*vh - vierport height*/
	height: 100vh;
	text-align: center;
}

html{
/*scroll-behavior changes the scrolling behavior when clicking anchor tags	*/
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

/*pseudo class*/
a:hover{
	background-color: black
}

div{
	display: inline;
	float: right;
}

ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/*Position property changes the position of an element based on a certain criteria*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: green;
	color: white;
	border: 0;
	border-radius: 15px;
}