/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
	font-family: 'Inconsolata', monospace !important;
}

nav{
	font-family: 'Inconsolata', monospace !important;
}

.navbg-color{
	background-color: #2c4c3b;
	opacity: ;

}

h1{
	font-size: 5rem;
}

.text-align-justify{
	text-align: justify;
}

.bg-main{
	background-color: #306844;
}

.contactbg-color{
	background-color: #182c25;
}

.text-align-left{
	text-align: left !important;
}

.my--3{
	margin-top: -1.5rem;
	margin-bottom: -1.5rem;
}

.mb--3{
	margin-bottom: -1.5rem;
}

.font-size-large{
	font-size: 3rem;
}

.formbg-color{
	background-color: #455b55;
}

@media screen and (max-width: 768px) {
    h1{
        font-size:2rem;
    }
}