/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

ul{
	width: 100%;
	background-color: white;
}

.nav-logo{
	vertical-align: middle;
	display: inline;
}

.right-nav{
	float: right;
	vertical-align: middle;
}

.nav{
	display: inline;
	padding: 40px;
}

nav{
	top: 0;
	position: sticky;
	display: inline;
	z-index: 99999;
}

.tuitt-button{
	color: white;
	padding: 8px 10px;
	text-align: center;
	background-color: #c2195b;
	border-radius: 20px;
	border: none;
}

#bg-image{
	position:Relative;
	width: 100%;
}

.front-bg{
	  width: 1200px;
	  height:300px;
	  background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	  background-size: cover; /* or "contain" depending on what you want */
	  background-position: center center;
	  background-repeat: no-repeat;
	  text-align:center;
	  margin:auto;
}

.container{
	height: 99.9%;
	width: 100%;
	max-width: 100%;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
}

.title{
	font-family: 'Zilla Slab';
	font-size: 2.66rem !important;
	color: white;
	text-align: right;
	width: 80%;
	margin-left: auto;
	text-indent: 40%;
	padding-bottom: 1.33rem;
	padding-right: 5rem;
}


.subtitle{
	font-size: 1rem !important;
	color: white;
	text-align: right;
	width: 40%;
	margin-left: auto;
	text-indent: 10%;
	font-weight: normal;
	padding-right: 5rem;
}

.apply-button{
	padding: 10px 20px;
	text-align: center;
	background-color: #c2195b;
	border-radius: 20px;
	border: none;
	margin-top: 1rem;
	margin-right: 5rem;
}

.intro{
	text-align: center;
	padding: 5rem;
}

.intro .title-2{
	padding-bottom: 5rem;
	font-family: 'Zilla Slab';
}

.intro-description{
	text-align: justify;
	padding-right: 22.5rem;
	padding-left: 22.5rem;
}

.pre-footer{
	text-align: center;
	background-color: #f7fbfb;
}

.pre-footer .title-2{
	padding: 5rem;
	font-family: 'Zilla Slab';
}

.prefooter-description{
	padding-right: 27rem;
	padding-left: 27rem;
}

.book-button{
	color: white;
	padding: 10px 30px;
	text-align: center;
	background-color: #336589;
	border-radius: 20px;
	border: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

footer{
	text-align: center;
	padding: 2rem;
}