#external-styling{
	color: darkviolet;
}

*{
	font-family: fantasy;
	font-size: 20px;
}

h1{
	font-size: 40px;
}

#headerTwo{
	text-transform: uppercase;
}

.languages-offered{
	background-color: paleturquoise;
}

[type]{
	border: 1px;
	border-style: solid;
	border-color: black;
}

img + ul{
	list-style-type: none;
}

#sectionFour img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

ul ~ p{
	text-align: center;
}

#sectionFour > ul > li{
	letter-spacing: 5px;
}